* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-color: #2A90F0;
    --secondary-color: #F2F0EF;
    --hover-color: #0e5597;

}

body {
    font-size: 18px;
    font-weight: 400;
    background-color: var(--secondary-color);
}

/* Nawigacja */
nav {
    background-color: var(--primary-color);
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 30px;
}

nav i {
    font-size: 2.5em;
    cursor: pointer;
}

.logo {
    max-width: 70px;
    height: auto;
}

.add-habit-button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    height: 80px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-habit-button > i {
    font-size: 30px;
    font-weight: bold;
    padding-right: 10px
}

.desktop-icons {
    display: flex;
    gap: 2em;
    list-style: none;
    align-items: center;
    color: var(--secondary-color)
}

.desktop-icons li {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.desktop-icons li:hover {
    transform: scale(1.1);
}

.add-habit-button:hover {
    transform: scale(1.1);
}


/*UKLAD STRONY*/
main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding: 20px;
}

aside {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #D0D5DD;
}

.habit-tracking {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.habit {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #D0D5DD;
    height: 260px;
}

.habit h3 {
    color: var(--primary-color);
}

.habits-score h2, .todo h2 {
    padding: 10px;
}

.habits-score ul {
    padding-left: 7px;
}

.habits-score li {
    margin-left: 10px;
    display: flex;
    align-items: center; 
    gap: 10px; 
}

progress {
    width: 100%;
    height: 12px;
    margin: 0; 
}

.todo-input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

#habit-input, #todo-input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#add-habit, #add-todo {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#add-todo:hover {
    background-color: var(--hover-color);
}

#habit-summary, #todo-list {
    list-style: none;
    padding: 0;
}

/*TODO LIST*/

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 12px;
    margin: 5px 0;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.todo-checkbox {
    margin-right: 10px;
}

.todo-text {
    flex-grow: 1;
    margin-right: 10px;
    font-size: 15px;
    word-break: break-word;
    white-space: normal;
    overflow-wrap: anywhere;
}

.todo-item.done .todo-text {
    text-decoration: line-through;
    color: gray;
}

.todo-input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

#todo-input {
    flex: 1;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

#add-todo {
    padding: 8px 16px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.habit-header {
    display: flex;
    gap: 5px;
    justify-content: left;
    align-items: center;
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #7B7B7B;
    transition: color 0.2s ease;
}

.delete-button:hover {
    color: red;
}

/*Kalendarz*/

.calendar-grid {
    display: flex;
    gap: 20px;
    width: 200px;
}

.calendar-month {
    background-color: white;
    border-radius: 16px;
    padding: 10px;
    min-width: 200px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease;
}

.calendar-month:hover {
    transform: translateY(-2px);
}

.month-name {
    text-align: center;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 18px;
    color: var(--primary-color);
}

.days-grid {
    display: grid;
    grid-template-columns: repeat(7, 25px);
    gap: 1px;
    justify-content: center;
}

.day {
    width: 25px;
    height: 25px;
    background-color: #F2F2F2;
    border: 1px solid #ddd;
    color: #555;
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.day:hover {
    background-color: #E1F0FF;
    transform: scale(1.1);
}

.day.checked {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    border: none;
}


/* zawijanie kalendarza */
.calendar-wrapper {
    overflow-x: auto;
    padding-bottom: 10px;
}

.calendar-month {
    flex: 0 0 calc(25% - 14px); 
    min-width: 200px;
}

.calendar-wrapper::-webkit-scrollbar {
    height: 8px;
}

.calendar-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}

.calendar-wrapper::-webkit-scrollbar-track {
    background-color: #F2F2F2;
}

/*POPUP*/
.popup {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
    text-align: center;
  }
  
  .popup-close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    font-size: 24px;
  }
  
  .habit-name-button {
    background: none;
    border: none;
    color: var(--primary-color); 
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: underline;
    padding: 0;
    margin: 0;
    font-family: inherit;
}

/*MOBILE*/
.mobile-icons {
    display: none;
}

.hide-element {
    display: none;
}

.show-element {
    display: flex !important;
}

@media (max-width: 900px) {
    
    main {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }
    
    aside {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
    
    .todo {
        width: 100%;
        box-sizing: border-box;
    }
    
    .progress-bar-container {
        width: 100%;
        box-sizing: border-box;
    }
    
    .habit-tracking {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
    
    .habit {
        width: 100%;
        box-sizing: border-box;
    }    
    
    .calendar-grid {
        display: flex;
        flex-wrap: nowrap;
        gap: 12px;
        flex-direction: row
    }

    .mobile-icons {
        color:var(--secondary-color);
        display: flex;
        flex-direction: column;
        gap: 15px; 
        padding: 20px;  
    }

    .mobile-icons li {
        display: flex;
        flex-direction: column; 
        align-items: center;
        text-align: center;
    }

    .desktop-icons {
        display: none;
        position: fixed;
        top: 80px;
        bottom: 0;
        left: 0;
        height: 100vh;
        background-color: var(--secondary-color);
        margin: 0;
        width: 100%;
        color: var(--primary-color);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px;   
        
    }

    .add-habit-button {
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }

    nav {
        background-color: var(--primary-color);
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px 0 20px;
    }
    
    .logo {
        max-width: 45px;
        height: auto;
    }

    .calendar-month {
        flex: 0 0 100%;
        scroll-snap-align: start;
        min-width: 100%;
        box-sizing: border-box;
        padding: 10px;
    }

    .calendar-wrapper {
        overflow-x: auto;
        padding-bottom: 10px;
        display: flex;      
    }

  
}